@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

h2,
h3,
h4 {
  font-weight: 400;
}

h1 small {
  font-weight: 300;
}

.title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 80px;
}

.btn {
  min-width: 150px;
}

.listing .btn-group-vertical {
  margin-top: 15px;
}

.header-text {
  text-align: center;
  max-width: 540px;
  margin: auto;

  h1 {
    font-weight: 200;
    color: $color-white;
    font-size: 50px;
  }

  p {
    font-size: 20px;
    color: $header-text-light-color;
 }
}

.image-title {
  background: url("/images/ggbridge.jpg");
  background-size: 100%;

  .color-bg {
    text-align: center;
    padding: 100px;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, $color-primary 0%, rgba($color-primary, .85) 99%, rgba($color-primary, .79) 100%);
  }
}

.sub-wrapper {
  max-width: $screen-lg-min;
  margin: auto;
  font-size: 18px;
  font-weight: 300;
  padding: 40px 0;

  .row {
    padding: 40px;
    width: 100%;

    h2 {
      margin-top: 0;
    }

  }

  .row:not(.maps) {
    display: flex;
    justify-content: center;
  }

  div {
    width: 100%;
    padding: 0 20px;
  }

  img {
    width: 100%;
  }

}

.maps div:nth-child(3) {
  margin-top: 2%;
  width: 446px;

  img {
    width: 430px;
    position: absolute;
  }

  p {
    font-size: 6em;
    font-weight: 100;
    float: right;
    margin-top: 20px;
  }
}

.tabbed-text {
  padding-left: 30px;
}

@media screen and (max-width: $screen-md-min) {

  .sub-wrapper {

    .image-container {
      display: none;
    }

    div {
      padding: 0;
    }

  }

  .image-title {

    .color-bg {
      padding: 80px 20px;
    }

  }

}

@media screen and (max-width: $screen-sm-min) {

  .sub-wrapper {
    padding: 20px 0;

    .row {
      padding: 20px;
      margin: 0;
    }

  }

}
